.navbar-nav .nav-item .nav-link {
  min-width: 100px;
  padding: 10px 20px;
  text-align: center;
}

.navbar-nav .nav-item .nav-link:focus {
  background-color: white;
}

.navbar-nav .nav-item .nav-link.active {
  background-color: rgb(255, 193, 7);
}

.nav-item > a:hover {
  color: black;
}